<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Lenovo Desktop 03/IdeaProjects/RegisterPage/src/main/java/RegisterPage/Menu.java">
        <classes>
            <class name="RegisterPage.Register_page">
                <methods>
                    <include name="setup"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>